#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app{
  display: flex;
  flex-direction: column;
  background-color: #3c424a;
  width: 40rem;
  min-height: 90Vh;
border-radius: 20px;

padding: 30px;
overflow: hidden;
}




