.menuEllipsis{
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  min-height: 6rem;
  background-color:#464d57;
  border-radius: 7px;
  border: 2px solid #9da5b1;
padding: 5px 1px 1px 1px;
 position: absolute;
 z-index: 10000;
 
}
.menuEllipsiscontent{
display: flex;
flex-direction: row;
font-size: 1.rem;
font-size: 18px;
gap: 6px;
width: 100%;
padding: 6px 15px;
}
.menuEllipsiscontent:hover{
  cursor: pointer;
  transform: scale(1.01);
  background-color: #717274;
  width:9rem
  
}
.menuEllipsis::before{
  content:" " ;
  position: absolute;
  top: -0.8rem;
  right:2rem;
  width: 20px;
  height: 20px;
  background-color: #464d57;
  border-left:2px solid #9da5b1; 
  transform: rotate(45deg);
  border-top:2px solid #9da5b1; 
}