.header{
     background-color:#3c424a ;
     border-bottom: #313136 1px solid;
     width: auto;
     height: 7vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-family:sans-serif;
     font-weight: bolder;
     font-size: 1.4rem;
}